<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/6a1aefa0-0934-4f81-8a1a-90e2f86f08a3/resourceGroups/Guacamayo/providers/Microsoft.ContainerRegistry/registries/MCUniversoAPI20231122175517</ContainerResourceId>
    <ContainerResourceName>MCUniversoAPI20231122175517</ContainerResourceName>
    <Subscription>LAB MC</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>mcuniversoapi20231122175517.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>mcuniversoapi</ContainerName>
    <EnvironmentName>MCUniversoAPI-env</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://mcuniversoapi-app.wittycoast-aad90e96.southcentralus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6a1aefa0-0934-4f81-8a1a-90e2f86f08a3/resourceGroups/Guacamayo/providers/Microsoft.App/containerapps/mcuniversoapi-app</ResourceId>
    <ResourceGroup>Guacamayo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>