<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/6a1aefa0-0934-4f81-8a1a-90e2f86f08a3/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.ContainerRegistry/registries/Nara20240104131103</ContainerResourceId>
    <ContainerResourceName>Nara20240104131103</ContainerResourceName>
    <Subscription>LAB MC</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>nara20240104131103.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>naradev</ContainerName>
    <EnvironmentName>mc-python-env</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://nara-app-dev.blackrock-483c688e.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <ResourceId>/subscriptions/6a1aefa0-0934-4f81-8a1a-90e2f86f08a3/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.App/containerapps/nara-app-dev</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net8.0</TargetFramework>
    <ProjectGuid>5f5f6480-286e-4d44-a92c-b6d138ebe498</ProjectGuid>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
  </PropertyGroup>
</Project>